<div class="banner align-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.punchdrink.com/wp-content/uploads/2016/11/Recipe-How-to-Make-a-Negroni-Campari-Cocktail-Recipe-Ratio-Naren-Young-Dante-NYC.jpg);">
  <div class="text-center">
    <h1>Cocktails</h1>
    <%= link_to 'Add a Cocktail', new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.atelierdeschefs.com/media/recette-e7517-cocktail-blue-lagoon.jpg)">
        <p class="text-center align-item card">
            <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
        </p>
  </div>
    <% end %>
  </div>
</div>
