// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control {
  width: 25%;
}

.title-page {
  margin-bottom: 50px;
  color: white;
}
#cocktail_name {
  width: 33px;
}
form {
  color: white;
}

